.App {
    text-align: center;
    padding: 15px;
  }
  h1{
    color: rgb(255, 166, 0);
  }
  
  #Calendar {
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top:50px;
    margin-bottom: 50px;
  }
  
  .rbc-month-view{
    flex-basis: 500px !important;
    cursor: pointer;
  }
  
  .rbc-toolbar-label {
    font-weight: bold;
    font-size: 22px;
    color: rgb(37, 66, 197);
  }
  .rbc-event-label {
    display: none;
  }
  
  .rbc-date-cell{
    color: black !important;
  }
  .rbc-active {
    background: #bdb2ff !important;
    box-shadow: none !important;
    color: #fff !important;
    border-color: #bdb2ff !important;
  }
  .rbc-btn-group button:hover {
    background: #bdb2ff !important;
    box-shadow: none !important;
    color: #fff !important;
    border-color: #bdb2ff !important;
  }
  /* Event Tabs */
  .rbc-event {
    background:rgb(250, 247, 56) !important;
    
  }
  /* Header style */
  .rbc-header{
    padding: 10px 3px !important;
  }
  /* .rbc-time-view 
    .rbc-label {
    display: none;
    } */
  /* .rbc-time-view  
    .rbc-time-content {
    display: none;
    } */
    
  .rbc-date-cell {
    color: rgb(15, 114, 226);
  }
  .rbc-toolbar {
    background-color: white;
  }
  .rbc-today {
    background-color: rgb(171, 248, 248) !important;
  }
  
  @media (max-width: 480px) {
    .rbc-toolbar {
      display: block !important;
    }
  }

  .content {
    width: 1100px;
    height: 600px;
    position: absolute; /*Can also be `fixed`*/
    display: flex;
  align-items: center;
  justify-content: center;
    left: 0;
    right: 0;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    top: 0;
    bottom: 0;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

#ddmenu > div>div:nth-of-type(2){
  color: yellow !important;
}